# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/
{backend/node_modules/

# Production builds
frontend/dist/
dist/

# Environment variables (CRITICAL TO IGNORE!)
.env
.env.*
!.env.example

# Database files
backend/medcare.db
medcare.db
*.db
*.sqlite
*.sqlite3

# User Uploaded files (Scans)
backend/uploads/
uploads/

# OS specific files
.DS_Store
Thumbs.db
